@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #CEE6DF;
}

.container {
    background-color: #F7FFFD;
    width: 30%;
    min-width: 294px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 20px #b09a9a;
}

.taskInput {
    width: 100%;
    display: flex;
    position: relative;
}

input[type="text"] {
    background-color: #CEE6DF;
    outline: none;
    border: 0;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
}

#addButton {
    background-color: #0F940C;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 15px;
}

#addButton:hover {
    background-color: #10A60D;
}

ul {
    height: 100%;
    width: 100%;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
}

li {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

li.completed {
    text-decoration: line-through;
}

.remove {
    border: 0;
    display: flex;
    font-size: 1.2em;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

#clearAllTask {
    background-color: #0F940C;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none;
}

#clearAllTask:hover {
    background-color: #10A60D;
}

@media screen and (max-width:768px) {
    .container{
        width: 90%;
        height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
        height: 600px;
    }
}
